<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Bee Organic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-producer-item
      *ngFor="let producer of producers"
      [producerItem]="producer"
      [routerLink]="['/', 'producers', 'tabs', 'all-producers', producer.id]"
    >
    </app-producer-item>
  </ion-list>
</ion-content>
