<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Bee Organic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let order of orders">

      <ion-item [routerLink]="['/', 'user-orders', order.id]">
        <ion-label class="ion-text-wrap"> ({{order.date | date: 'MM.dd.yyyy'}})  {{ order.fullname}}, {{order.city}}</ion-label>
      </ion-item>

  </ion-list>
</ion-content>
