<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="producers/tabs/all-producers" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary" *ngIf="authService.currentUser.email==='admin@beeorganic.com'">
      <ion-button (click)="onEditProducer()">
        <ion-icon name="pencil" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="onDeleteProducer()">
        <ion-icon name="trash" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading" no-padding>
    <ion-row>
      <ion-col class="ion-text-center" no-padding>
        <img [src]="producer.imageUrl">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>{{producer.name}}</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="call"></ion-icon>
        {{producer.phoneNumber}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="home"></ion-icon>
        {{producer.address}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="search"></ion-icon>
        PIB: {{producer.taxIdentificationNumber}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="search"></ion-icon>
        Matični broj: {{producer.companyNumber}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="information-circle"></ion-icon>
        Vebsajt:
        <a [attr.href]="producer.website">
          {{producer.website}}
        </a>
      </ion-col>
    </ion-row>

    <div class="sertificate-btn-wrap">
      <ion-button shape="round" class="sertificate-btn" (click)="expandItem()">Vidi opis proizvođača</ion-button>
      <app-description [expandHeight]="itemExpandedHeight" [expanded]="itemExpanded">{{producer.description}}</app-description>
    </div>

    <ion-card class="ion-no-margin">
      <ion-card-header>
        <ion-card-title>
          Sertifikati koje poseduje proizvođač
        </ion-card-title>
      </ion-card-header>

      <div class="sertificate-btn-wrap">
        <ion-button shape="round" class="sertificate-btn" (click)="onAddSertificate()" *ngIf="authService.currentUser.email==='admin@beeorganic.com'">Dodaj sertifikat</ion-button>
      </div>

      <ion-card-content>
        <ion-list *ngIf="sertificates.length>0">
          <ion-item *ngFor="let sertificate of sertificates" [routerLink]="['/', 'producers', 'tabs', 'all-producers', producer.id, sertificate.id]">
            <ion-label>{{sertificateTypes[sertificate.type]}}</ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="sertificates.length===0">
          <ion-label>Nema dostupnih sertifikata</ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>


  </ion-grid>
</ion-content>

