.btn-wrap {
  text-align: center;
  padding-top: 20px;

  .btn{
    --background: #FFDF91;
    color: #432818;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

ion-item-divider{
  text-align: center;
}
