h5 {
  text-align: center;
}

ion-header{
  margin-bottom: 60px !important;
}

.location-btn-wrap {
  text-align: center;
  padding-top: 20px;

  .location-btn{
    --background: #EAAC7F;
    color: #432818;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
