<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products/tabs/all-products" color="primary"></ion-back-button>
    </ion-buttons>
    <!--<ion-title color="tertiary" class="ion-text-center">Opširnije</ion-title>-->
    <ion-buttons slot="primary">
      <ion-button (click)="onEditProduct()"  *ngIf="authService.currentUser.email==='admin@admin.com'">
        <ion-icon name="pencil" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="onDeleteProduct()"  *ngIf="authService.currentUser.email==='admin@admin.com'">
        <ion-icon name="trash" slot="icon-only" color="primary"></ion-icon>
      </ion-button>

      <ion-button (click)="onAddToCart()"  *ngIf="authService.currentUser.email!=='admin@admin.com'">
        <ion-label class="cart" color="primary">Dodaj u korpu</ion-label>
        <ion-icon name="cart" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading" no-padding>
    <ion-row>
      <ion-col class="ion-text-center" no-padding>
        <img [src]="product.imageUrl">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>{{product.name}}</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="leaf"></ion-icon>
        Vrsta meda: {{honeyTypes[product.type]}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="cart"></ion-icon>
        Neto sadržaj: {{product.amount}} grama
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="pricetags"></ion-icon>
        Cena: {{product.price}} dinara
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="calendar-number"></ion-icon>
        Godina proizvodnje: {{product.yearOfProduction}}.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="gift"></ion-icon>
        Ambalaža: {{packagingTypes[product.packaging]}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="color-fill"></ion-icon>
          Proizvođač: {{product.producer.name}}
      </ion-col>
    </ion-row>

    <div class="location-btn-wrap">
      <ion-button shape="round" class="location-btn" (click)="expandItem()">Vidi opis proizvoda</ion-button>
      <app-description [expandHeight]="itemExpandedHeight" [expanded]="itemExpanded">{{product.description}}</app-description>
    </div>

    <ion-card class="ion-no-margin">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="pin"></ion-icon>
          Lokacije košnica
        </ion-card-title>
      </ion-card-header>

      <div class="location-btn-wrap">
        <ion-button shape="round" class="location-btn" (click)="onAddLocation()" *ngIf="authService.currentUser.email==='admin@admin.com'">Dodaj lokaciju košnica</ion-button>
      </div>

      <ion-card-content>
        <ion-list *ngIf="locations.length>0">
          <ion-item *ngFor="let location of locations" [routerLink]="['/', 'products', 'tabs', 'all-products', product.id, location.id]">
            <ion-label>{{location.latitude}} N, {{location.longitude}} E</ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="locations.length===0">
          <ion-label>Nema dostupnih lokacija</ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>

  </ion-grid>
</ion-content>
