<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading" no-padding>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Datum: {{order.date | date: 'MM.dd.yyyy'}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>{{order.fullname}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>{{order.email}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>{{order.phoneNumber}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="info">
      <ion-col class="ion-text-center">
        <ion-label>{{order.city}}, {{order.street}} br. {{order.streetNumber}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-list *ngFor="let product of order.products">

      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="product.product.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label class="ion-text-wrap">{{product.product.name}} - {{product.amount}} komada</ion-label>
      </ion-item>

  </ion-list>

  <ion-row class="total-price">
    <ion-col class="ion-text-center">
      <ion-label>Ukupna cena: {{order.totalPrice}} dinara</ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order.status!=='Odobreno' && order.status!=='Odbijeno'">
    <ion-col class="ion-text-center">
      <ion-label>Status narudžbine: <ion-badge color="warning">Na čekanju</ion-badge></ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order.status==='Odobreno'">
    <ion-col class="ion-text-center">
      <ion-label>Status narudžbine: <ion-badge color="success">Odobreno</ion-badge></ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order.status==='Odbijeno'">
    <ion-col class="ion-text-center">
      <ion-label>Status narudžbine: <ion-badge color="danger">Odbijeno</ion-badge></ion-label>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

