<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="tertiary">Izmena proizvoda</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">

    <ion-card-content>
      <form #editProduct="ngForm" (ngSubmit)="onEditProduct()">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">

              <ion-item>
                <ion-label position="floating" color="primary">Naziv proizvoda</ion-label>
                <ion-input type="text" [ngModel]='name' name="name" required>
                </ion-input>
              </ion-item>
              <!--
              <div *ngIf="editProduct.controls.name.invalid && editProduct.controls.name.touched">
                  <small>Unesite naziv proizvoda</small>
              </div>
              -->
              <ion-item>
                <ion-label  position="floating" color="primary">Vrsta meda</ion-label>
                <ion-select type="text" cancelText="Nazad" okText="Izaberi" [ngModel]='type' name="type" required>
                  <ion-select-option class="option" *ngFor="let name of typesKeys" [value]="name">{{honeyTypes[name]}}</ion-select-option>
                </ion-select>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.type.invalid && editProduct.controls.type.touched">
                  <small>Izaberite vrstu meda</small>
              </div>
-->
              <ion-item>
                <ion-label position="floating" color="primary">Opis proizvoda</ion-label>
                <ion-textarea rows="6" type="text" [ngModel]='description' name="description" required>
                </ion-textarea>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.description.invalid && editProduct.controls.description.touched">
                  <small>Unesite kratak opis proizvoda</small>
              </div>
-->
              <ion-item>
                <ion-label position="floating" color="primary">Količina u gramima</ion-label>
                <ion-input type="number" [ngModel]='amount' name="amount" required>
                </ion-input>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.amount.invalid && editProduct.controls.amount.touched">
                  <small>Unesite količinu u gramima</small>
              </div>
-->
              <ion-item>
                <ion-label position="floating" color="primary">Cena u dinarima</ion-label>
                <ion-input type="number" [ngModel]='price' name="price" required>
                </ion-input>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.price.invalid && editProduct.controls.price.touched">
                  <small>Unesite cenu za datu količinu</small>
              </div>
-->
              <ion-item>
                <ion-label position="floating" color="primary">Godina proizvodnje</ion-label>
                <ion-input type="number" [ngModel]='yearOfProduction' name="yearOfProduction" required>
                </ion-input>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.yearOfProduction.invalid && editProduct.controls.yearOfProduction.touched">
                  <small>Unesite godinu proizvodnje</small>
              </div>
-->
              <ion-item>
                <ion-label position="floating" color="primary">Tip ambalaže</ion-label>
                <ion-select type="text" cancelText="Nazad" okText="Izaberi" [ngModel]='packaging' name="packaging" required>
                  <ion-select-option *ngFor="let name of packagingKeys" [value]="name">{{packagingType[name]}}</ion-select-option>
                </ion-select>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.packaging.invalid && editProduct.controls.packaging.touched">
                  <small>Izaberite tip ambalaže</small>
              </div>
-->
              <!--
              <ion-item>
                <ion-label position="floating" color="primary">Proizvođač</ion-label>
                <ion-select name="producer" type="text" formControlName="producer"
                            cancelText="Nazad" okText="Izaberi"required>
                  <ion-select-option *ngFor="let producer of producers" [value]="producer">{{producer.name}}</ion-select-option>
                </ion-select>
              </ion-item>

              <div>
                <ng-container *ngFor="let validation of validationUserMessage.producer">
                  <small
                    *ngIf="addProduct.get('producer').hasError(validation.type) &&
                    (addProduct.get('producer').dirty ||
                    addProduct.get('producer').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            -->
              <ion-item>
                <ion-label position="floating" color="primary">URL adresa slike proizvoda</ion-label>
                <ion-input type="text" [ngModel]='imageUrl' name="imageUrl" required>
                </ion-input>
              </ion-item>
<!--
              <div *ngIf="editProduct.controls.imageUrl.invalid && editProduct.controls.imageUrl.touched">
                  <small>Unesite URL adresu slike proizvoda</small>
              </div>
-->
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="sign-btn-wrap">
          <ion-button type="submit" shape="round" fill="solid" class="sign-btn" [disabled]="!editProduct.valid">Sačuvaj</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
