ion-content{
  --ion-background-color: hsl(0deg 0% 96%);
}

ion-header{
  position: absolute;
}

ion-toolbar{
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;

  @media(min-width:760px){
    margin-top: 80px;
  }
}

.image{
  @media(min-width:760px){
    display: none;
  }
}

ion-card-title{
  margin-top: 30px;
  font-size: 25px;
  color: #432818;
  text-align: center;
  font-weight: bold;
}

ion-card-subtitle{
  padding-top: 15px;
  font-size: 15px;
  color: #432818;
  text-align: center;
  font-weight: 200;
}

.signin-btns{
  margin-top: 20px;
  text-align: center;
  color: #432818;

  .login-btn{
    --ion-primary-color: #FFDF91;
    --background-activated: #432818;
    --background-focused: #432818;
    --background-hover: white;
    color: #432818;
    border-radius: 25px;
    --background: #FFDF91;
    background-color: #FFDF91;
    font-weight: bold;
  }

  .signup-btn{
    --ion-primary-color: #FFDF91;
    --background-activated: #432818;
    --background-focused: #432818;
    --background-hover: white;
    color: #432818;
    border-radius: 25px;
    font-weight: bold;
  }

  @media(min-width:760px){
    margin-bottom: 190px;
  }
}



