/*
ion-label{
  font-weight: bold;
  color: #FFDF91;
}

ion-icon{
  font-weight: bold;
  color: #FFDF91;
}

*/
ion-tab-button{
  background-color: transparent;
}

ion-tab-bar{
  background: #432818;
}

