.bg-color{
  background: #f8eea5;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;
}

ion-item{
  color: #432818;
  --border-color: #EAAC7F;
  --highlight-color-focused: #432818;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 13px;

  ion-input{
    color: black;
    font-size: 13px;
  }

  ion-input:hover{
    color: black;
  }

  ion-icon{
    padding-right: 6px;
    font-size: 18px;
  }

}

ion-card-content{
  padding-top: 20px;
}

ion-title{
  text-align: center;
}

.sign-btn-wrap{
  text-align: center;
  padding-top: 20px;
  .sign-btn{
    --ion-primary-color: #432818;
    --background-activated: #EAAC7F;
    --background-focused: #EAAC7F;
    --background-hover: white;
    color: #432818;
    border-radius: 25px;
    --background: #EAAC7F;
    background-color: #EAAC7F;
    margin-bottom: 8px;
    font-weight: bold;
  }

}

.text-tag{
  margin-top: 25px;
  text-align: center;
  span{
    font-size: 13px;
    font-weight: normal;
    color: #432818;
  }

}
