ion-item{
  text-align: center;
  color: #432818;
  --border-color: #EAAC7F;
  --highlight-color-focused: #432818;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 13px;
}

ion-header{
  margin-bottom: 20px;
}

.btn-wrap {
  text-align: center;
  padding-top: 20px;

  .btn{
    --background: #EAAC7F;
    color: #432818;
    margin-bottom: 5px;
  }
}

.total-price{
  margin-bottom: 40px;
}

.info{
  margin-bottom: 50px;
}

ion-label{
  font-weight: bold;
}
